<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>com.bbs.controller.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bbs.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTopicServlet</servlet-name>
        <servlet-class>com.bbs.controller.AddTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>com.bbs.controller.ContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.bbs.controller.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.bbs.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParseServlet</servlet-name>
        <servlet-class>com.bbs.controller.ParseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTopicServlet</servlet-name>
        <url-pattern>/AddTopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/ContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParseServlet</servlet-name>
        <url-pattern>/ParseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <jsp-config> 
        <taglib> 
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/lib/c.tld</taglib-location> 
        </taglib> 
     </jsp-config>
</web-app>
